.error {
  display: flex;
  flex-direction: column;   /* primero imagen, luego texto */
  align-items: center;      /* centra horizontalmente */
  justify-content: center;  /* centra verticalmente si hay altura fija */
  text-align: center;
}

.ups {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);  /* centra texto */
  color: white;
  font-size: 1.5rem;
  text-align: center;
  background: rgba(0,0,0,0.5);  /* mejora contraste */
  padding: 10px;
  border-radius: 8px;
  width: 50%; /* margen lateral */
}

.ups a {
  color: yellow; 
  font-weight: bold;
  font-size: 2rem;
  text-decoration: none;
  
}
.gato{
    height: 100%;
}
span{
    color: cyan;
}
