.sombra {
  box-shadow: 0px 0px 18px 3px rgba(0, 0, 0, 0.35);
  -webkit-box-shadow: 0px 0px 18px 3px rgba(0, 0, 0, 0.35);
  -moz-box-shadow: 0px 0px 18px 3px rgba(0, 0, 0, 0.35);
}
.btn-google {
  background: #fff;
  border: 1px solid #dadce0;
  color: #3c4043;
  padding: 0.75rem 1rem;
  border-radius: 0.5rem;
}
.btn-google:hover {
  background: #f8f9fa;
  border-color: #c9ccd1;
}
.btn-facebook {
  background: #1877f2;
  color: #fff;
  padding: 0.75rem 1rem;
  border-radius: 0.5rem;
  border: 1px solid #1877f2;
}
.btn-facebook:hover {
  background: #166fe5;
  border-color: #166fe5;
  color: #fff;
}

.img-login {
  height: 25px;
}
